pkgbase = reform-tools
	pkgdesc = MNT Reform system tools & helpers
	pkgver = 1.79
	pkgrel = 1
	url = https://source.mnt.re/reform/reform-tools
	arch = x86_64
	arch = aarch64
	license = GPL3
	depends = python
	depends = python-psutil
	depends = rsync
	depends = alsa-utils
	depends = systemd
	depends = procps-ng
	depends = busybox
	optdepends = ircii: for Reform chat/IRC tools
	optdepends = pavucontrol: GUI mixer control (if using PulseAudio)
	source = reform-tools-1.79.tar.gz::https://source.mnt.re/reform/reform-tools/-/archive/v1.79/reform-tools-v1.79.tar.gz
	source = motd-full
	source = motd-rescue
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = reform-tools
